.part-navigation__container{
    margin-top:30px;
    padding-bottom:8px;
    margin-bottom:45px;
    border-bottom:1px solid $border-color;
    @media (max-width: 640px){
        padding-bottom:3px;
        margin-bottom:30px;
    }
    nav {
        ol{
            padding:0;

            @media (min-width: 768px){
                display: flex;
                flex-wrap: wrap;
                @include flexbox();
                @include flex-wrap(wrap);
                @include flex-direction(row !important);
            }
            li{
                font-size:16px;
                margin-bottom:12px;
                list-style: decimal;
                margin-left: 1.5em;
                padding-left: 0.3em;

                @media (min-width: 641px){
                    font-size: 19px;
                }
                @media (min-width: 768px){
                    width: calc(50% - 22px);
                    margin-left: 22px;
                    padding-right: 20px;
                }
                
            }
        }
    }  
}

.part-navigation {
    &--a {
        ul { padding:0;
            li {position: relative; padding-left:30px; margin:0 0 10px;
                &:before {content:'';width:15px; height:2px; background:#007299; position: absolute;left:0;top:50%; transform:translateY(-50%);}
                &.active {
                    &:before {background:#263238;}
                }
            }
        }
    }
}