$breadcrumb-background:transparent !default;

.breadcrumb {
    padding: 0;
    margin: 10px 0 0;
    font-size: 16px;
    background:$breadcrumb-background;

    @media (max-width: 767px) {
        padding: 0;
        font-size: 14px;
    }

    ul,
    ol{
        padding:0;
        list-style:none;
        display:inline;
        li{
            display:inline;
            a{
            position:relative;
            margin-right:16px;


                &:after {
                    position:absolute;
                    display:inline-block;
                    content: "/";
                    font-size: 16px;
                    padding: 0 8px;
                    text-decoration:none !important;
                }
            }
        }
    }

    img {
    display: none !important;
}

}

//SP override
.breadcrumb ul:first-child{
  margin-left:0;
}