.btn,
.form-group input[type=button],
.form-group input.btn.btn-primary,
.form-group input[type=submit],
.limitedrte-Style-BUTTON{
    @include btn();
}

.btn-arrow,
.btn[rel=external]{
    padding-right:60px;
    &:before{
        height:100%;
        width:36px;
        position:absolute;
        background: rgba(0, 0, 0, 0.1);
        right: 0px;
        top: 0px;
        z-index:5;
        display:block;
        content:"";
    }
    &:after{
        display:block;
        font-family: FontAwesome;
        content: "\f105";
        position: absolute;
        right: 0px;
        height: auto;
        background: transparent;
        padding: 0;
        top: 50%;
        font-size: 22px;
        content: "\f105";
        padding: 0;
        text-align: center;
        line-height:0;
        width:36px;
    }
    @media (max-width: 767px) {
        padding-right:50px;
    }
}

.btn[rel=external] {
    margin: 0 0 20px;
    &:after{
        content: "\f08e";
        width: 41px;
    }
}

.btn.bottom{
    margin-bottom:0 !important;
}

.btn-small,
.form-group input[type=button].btn-small{
    font-size:16px;
    padding:10px;
    @media (max-width: 767px) {
        font-size:14px;
    }
}

.btn-default{
    background-color:$border-color;
    color:white;
    &:hover{
        background:darken($border-color, 5%);
        color:white;
    }
    &:visited{
        color:white;
    }
}

.btn-primary,
.form-group input[type=button],
.form-group input.btn.btn-primary,
.form-group input[type=submit],
.limitedrte-Style-BUTTON{
    @include btn-color($primary-button-background-color,$primary-button-color);
}

.btn-secondary,
.form-group input[type=button].btn-secondary{
    @include btn-color($secondary-button-background-color,$secondary-button-color);
}

.btn-outline,
.form-group input[type=button].btn-outline{
    @include btn-color($outline-button-background-color,$outline-button-color);
    background:transparent !important;
}