$footer-bg-color: #007299 !default;

// footer.scss
@import 'url-helper';
footer.main {
    margin: 0;
    background: $footer-bg-color;
    padding: 0;
    .list-atoz {
        margin: 0;
        > li {
            margin-bottom: 0;
        }
        .item {
            padding: 0;
        }
        .container-fluid {
            padding-top: 25px;
            padding-bottom: 25px;   
            nav {
                padding-bottom: 30px;
                @media (min-width: 768px) {
                    padding-bottom: 50px;
                }
                ul {
                    li {
                        margin-bottom: 10px;
                        a {
                            font-size: 19px;
                            font-weight: 400;
                            color:$lighter-blue;
                            border:0;
                            text-decoration:underline;
                            @media (max-width: 641px) {
                                font-size: 16px;
                            }
                            &:hover{
                                opacity:0.7;
                                text-decoration:underline;
                            }
                            &.active{
                                a{
                                    font-weight:bold;
                                    color:white;
                                    text-decoration:none;
                                }
                            }
                            &:focus {
                                outline: 4px solid #FFBF47;
                                outline-offset: 0;
                            }
                            &[rel=external] {
                                padding-right: 22px;
                            }
                        }
                        @media (max-width: 400px) {
                            width: 100%;
                            &:after {
                                display: none;
                            }
                        }
                        &:last-child:after {
                            display: none;
                        }
                    }
                }
            }
            .logo-footer {
                padding-bottom: 30px;
                @media (min-width: 768px) {
                    padding-bottom: 0;
                }
                p {
                    margin-bottom: 0;
                    font-weight: 300;
                    margin-top: 15px;
                    color: #ffffff;
                    font-size: 16px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
            .text-right {
                .socialBookmarks {
                    margin: 0;                    
                    ul {
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        @media (min-width: 768px) {
                            -webkit-box-pack: end;
                            -ms-flex-pack: end;
                            justify-content: flex-end;
                        }
                        li {
                            margin: 0 10px 0 0;
                            a {
                                &:hover {
                                    text-decoration: none !important;
                                }
                                &.facebook:after,
                                &.twitter:after,
                                &.youtube:after,
                                &.email:after,
                                &.instagram:after {
                                    font-size: 30px;
                                    width: 70px;
                                    height: 70px;
                                    padding-top: 15px;
                                }
                            }
                            &:first-of-type {
                                display: inline-block;
                                padding-bottom: 0.65em;
                            }
                        }
                    }
                }        
            }    
        }
    }
       
    .socialBookmarks {
        background: transparent;
        padding: 0px;
        margin: 0 0 1.875em;
        h2 {
            color: #fff;
        }
        @media (max-width:991px) {
            ul li:first-of-type {
                display: block;
                padding-bottom: 0.65em;
            }
        }
        .facebook:after,
        .twitter:after,
        .youtube:after,
        .email:after,
        .instagram:after,
        .flickr:after {
            font-family: FontAwesome;
            font-size: 25px;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            display: block;
            text-align: center;
            padding-top: 3px;
        }
        a:hover:after {
            background: #fff;
            color: #133E8D;
            text-decoration: none;
        }
    }
    @media (max-width:767px) {
        .text-right {
            text-align: left;
        }
    }    
    .footerGlobal {
        background: darken( #133E8D, 4%);
    }
}

.footerGlobal nav ul {
    @include ulStyle();
    padding: 1.875em 0;
    li:after {
        content: '|';
        color: #fff;
        padding: 0 0.625em;
    }
    a {
        color: #fff;
    }
}

.logo-footer span {
    background: url('../images/lcc-logo-white-01.svg') center center/100% 100% no-repeat;
    display: block;
    margin: 0 0 1.25em 0;
    width: 220px;
    height: 66px;
    @media (max-width: 500px) {
        margin: 0 0 20px;
    }    
}