// footer.scss
@import 'url-helper';
footer.main {
    margin: 0;
    background: #133E8D;
    padding: 0px 0px 0px 0px;
    .container-fluid {
        padding: 25px 0;
    }
    p {
        color: #fff;
    }
    .footer {
        background: #133E8D;
        ul {
            display: block;
            margin: 0px;
            padding: 0px;
            @for $i from 1 through 10 {
                li:first-child:nth-last-child(#{$i}),
                li:first-child:nth-last-child(#{$i}) ~ li {
                    width: (100%/$i);
                    li {
                        width: 100%;
                    }
                }
            }
            li {
                display: block;
                float: left;
                padding: 0 15px;
                a {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; //override shaerpoint corev15   
                    padding: 10px;
                    font-size: 18px;
                    margin-left: 0px;
                    color: #fff !important; //override shaerpoint corev15
                    display: block;
                    text-decoration: none;
                }
                a:hover {
                    background: rgba(0, 0, 0, 0.2);
                    text-decoration: underline;
                }
                a.selected {
                    background-color: rgba(0, 0, 0, 0.2) !important; //override shaerpoint corev15
                }
                ul {
                    display: block;
                    padding: 0px;
                    margin: 0 0 0 0px;
                    position: relative;
                    li {
                        width: 100%;
                        margin: 0px;
                        border: none;
                        padding: 0px;
                        &:last-of-type {
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                            display: block;
                        }
                        a {
                            font-size: 15px;
                            padding: 10px;
                            border-bottom: none !important;
                            &:hover,
                            &:focus {
                                background: rgba(0, 0, 0, 0.2);
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:1200px) {
            li {
                margin: 0px !important;
                padding: 0px !important;
            }
            @for $i from 8 through 10 {
                li:first-child:nth-last-child(#{$i}),
                li:first-child:nth-last-child(#{$i}) ~ li {
                    width: (100% !important);
                }
            }
        }
        @media (max-width:1000px) {
            li {
                margin: 0px !important;
                padding: 0px !important;
            }
            @for $i from 6 through 10 {
                li:first-child:nth-last-child(#{$i}),
                li:first-child:nth-last-child(#{$i}) ~ li {
                    width: (100% !important);
                }
            }
        }
        @media (max-width:767px) {
            li {
                width: 100%;
                border-bottom: none;
                margin: 0px !important;
                padding: 0px!important;
            }
            @for $i from 1 through 10 {
                li:first-child:nth-last-child(#{$i}),
                li:first-child:nth-last-child(#{$i}) ~ li {
                    width: (100% !important);
                }
            }
        }
    }
    .socialBookmarks {
        background: transparent;
        padding: 0px;
        margin: 0 0 1.875em;
        h2 {
            color: #fff;
        }
        @media (max-width:991px) {
            ul li:first-of-type {
                display: block;
                padding-bottom: 0.65em;
            }
        }
        .facebook:after,
        .twitter:after,
        .youtube:after,
        .email:after,
        .instagram:after,
        .flickr:after {
            font-family: FontAwesome;
            font-size: 25px;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            display: block;
            text-align: center;
            padding-top: 3px;
        }
        a:hover:after {
            background: #fff;
            color: #133E8D;
            text-decoration: none;
        }
    }
    @media (max-width:767px) {
        .text-right {
            text-align: left;
        }
    }
    p {
        margin-bottom: 1.875em;
    }
    .footerGlobal {
        background: darken( #133E8D, 4%);
    }
}

.footerGlobal nav ul {
    @include ulStyle();
    padding: 1.875em 0;
    li:after {
        content: '|';
        color: #fff;
        padding: 0 0.625em;
    }
    a {
        color: #fff;
    }
}

.logo-footer span {
    background: url('../images/lcc-logo-white-01.svg') center center/100% 100% no-repeat;
    display: block;
    margin: 0 0 1.25em 0;
    width: 220px;
    height: 66px;
    @media (max-width: 500px) {
        margin: 0 0 20px;
    }    
}