// Helper classses

hr.ms-rteElement-spacer {  
    -ms-name:"spacer";
    display:block;
    clear:left;
}


hr.ms-rteElement-spacerHr {  
    -ms-name:"spacerHr";
    margin-top:25px;
    margin-bottom:25px;
    border-top:1px solid rgba(0,0,0,0.2);
    border-bottom:1px solid rgba(255,255,255,0.3);
    display:block;
    clear:left;
    height:0px;
}


.ms-rtePosition-2 {  
    padding:15px;
}


p.ms-rteElement-textHighLight
{
     -ms-name:"textHighLight";
    font-size:38px;
    line-height:1.3em;
    margin-bottom:30px;
    padding:0;
}

p.ms-rteElement-p
{
   font-weight:300;
}



@media only screen and (max-width: 770px) {
    .ms-rteElement-Hr {  
    padding:5px 0px;
}
    


    
    .ms-rtePosition-2 {  
    padding:15px;
    max-width:50%;    
}


p.ms-rteElement-textHighLight
{
    font-size:25px;
}
    
}

@media only screen and (max-width: 500px) {
    
        .ms-rtePosition-2 {  
    padding:20px;
    max-width:100%;    
}
}

h2.ms-rteElement-H2 {
    
    -ms-name: "heading 2";
    display:table;
    padding:0px 0 25px 0;
}



h2.ms-rteElement-H2-center {
    
    -ms-name: "heading 2 center";
    text-align: center;
}

div.ms-rteElement-divLeft {  
    -ms-name:"divLeft";
    float:left;
    margin:0px 1% 25px 1%;
    border:1px solid #777;
    padding:30px;
    width:48%;
    

}

div.ms-rteElement-divThird {  
    -ms-name:"divThird";
    float:left;
    margin:0px 1% 25px 1%;
    border:1px solid #777;
    padding:30px;
    width:31.3%;
    
}




div.ms-rteElement-divRight {  
    -ms-name:"divRight";
    float:right;
    margin:0px 1% 25px 1%;   
    border:1px solid #777;
    padding:25px; 

}

div.ms-rteElement-divRight50 {  
    -ms-name:"divRight50";
    float:right;
    margin:0px 1% 25px 1%;   
    border:1px solid #777;
    padding:25px;
    width:48%;   

}



div.ms-rteElement-divFull {  
    -ms-name:"divFull";
    float:right;
    margin:0px 1% 25px 1%;   
    border:1px solid #777;
    padding:25px;
    width:98%;
    
        h2, h3 {
        border-bottom:1px solid #777;
        padding-bottom:25px;   
        width:100%;    
    }
    
        
    h2, h3, h4, h5, p, ol, ul
    {
    margin-top:0px;
        margin-left:0px;
        margin-right:0px;
    }

    
        img {
        max-width:100%;
    }
}

div.ms-rteElement-divLeft, div.ms-rteElement-divThird, div.ms-rteElement-divRight50
{
        h2 {
        border-bottom:1px solid #777;
        padding: 0 0 25px 0;  
        width:100%;       
    }
    
        h3 {
        border-bottom:1px solid #777;
        padding-bottom:25px;    
        width:100%;           
    }
    
    h2, h3, h4, h5, p, ol, ul
    {
    margin-top:0px;
        margin-left:0px;
        margin-right:0px;
    }
    
    .btn
    {
        width:100%;
    }
    
        img {
        max-width:100%;
    }
    
}

div.ms-rteElement-divFull, div.ms-rteElement-divLeft, div.ms-rteElement-divThird, div.ms-rteElement-divRight
{
    &.highlight
    {
        border-color:#111;
        background:#111;
        
        
        h2,h3
        {
            border-color:#444;
        }
            
    }
}

@media only screen and  (max-width:1000px) {
    
    div.ms-rteElement-divThird {  
    width:98%;
 
}
}

@media only screen and  (max-width:600px) {
    
   div.ms-rteElement-divLeft,  div.ms-rteElement-divRight50, div.ms-rteElement-divRight {  
    width:98%;
 
}
}


.ms-rteElement-divTwoThirds{

    float: left;
    margin: 0px 1% 25px 1%;
    padding: 30px 0;
    width: 64.6%;

    h2,h3{
        margin:0;
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 25px;
        width: 100%;
    }

    h2{
         padding-bottom: 20px;
    }

    ul {
        
        padding:0px;
        margin:0px;
    li{
        list-style: none;
        padding:15px 0;
    }
    }
@media only screen and (max-width: 1000px){
    width:98%;
}

@media only screen and (max-width: 600px){
   .pull-right {
    margin-bottom:10px;
    float:none !important;
    padding-left:10px;
}
}
}


@media only screen and (max-width: 770px) {
    
    .spacerTop{  
    margin-top:20px;
}

.spacerBottom {    
    margin-bottom:20px;
}
}

.clear {
    clear: both;
    display: block;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    width: 0px;
    padding:0 !important;
}




div.ms-rteElement-div-center {
    
    -ms-name: "div center";
    text-align: center;
}

.margin15px
{
    margin:15px;
}

.lrgPadding
    {
        padding:150px 0;
     @media only screen and (max-width:600px){
         padding:50px 0;
     }
  }


.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}

.spacerBottom {    
    margin-bottom:50px;
    display:block;
    clear:left;
}

.spacerTop {    
    margin-top:50px;
    display:block;
    clear:left;
}

// space for the top of  pagelayouts
.spacer
{
    padding-top:20px;
    display:block;
}

.clearfix{
  clear:both;
}

.container-fluid.full{
    max-width:100%;
}


.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}