@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin gradient-background-half($top, $bottom) {
background: $top; /* Old browsers */
    background: -moz-linear-gradient(top, $top 0%, $top 50%, $top 50%, $bottom 50%, $bottom 50%, $top 50%, $bottom 50%, $bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $top 0%,$top 50%,$top 50%,$bottom 50%,$bottom 50%,$top 50%,$bottom 50%,$bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $top 0%,$top 50%,$top 50%,$bottom 50%,$bottom 50%,$top 50%,$bottom 50%,$bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 ); /* IE6-9 */
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin ulStyle(){
  list-style: none;
  padding:0px;
  margin:0px;

    li{
      display:inline-block;
    }
}



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin icon(){
       &:after, &:before {
       font-family: FontAwesome;
       font-size:20px;
       }  


    }


    @mixin listWebpartColors($list-webpart-back,$list-webpart-font-color)
{
background: $list-webpart-back;
color: $list-webpart-font-color;

 h2{
     color: $list-webpart-font-color;
 }

    a {
                background:lighten($list-webpart-back, 7%);
                color:$list-webpart-font-color;

                &:hover
                {
                    background:darken($list-webpart-back, 10%);
                }
            
            }
 
}
   
//mixins to add to front end toolkit
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin justify-content($val) {
  -webkit-box-justify-content: $val;  
  -moz-box-justify-content: $val;     
  -ms-flex-justify-content: $val;     
  -webkit-justify-content: $val;  
  justify-content: $val;
}

@mixin align-items($val) {
  -webkit-box-align-items: $val;  
  -moz-box-align-items: $val;     
  -ms-flex-align-items: $val;     
  -webkit-align-items: $val;  
  align-items: $val;
}

@mixin align-content($val) {
  -webkit-box-align-content: $val;  
  -moz-box-align-content: $val;     
  -ms-flex-align-content: $val;     
  -webkit-align-content: $val;  
  align-content: $val;
}

@mixin flex-wrap($val) {
  -webkit-box-flex-wrap: $val;  
  -moz-box-flex-wrap: $val;     
  -ms-flex-flex-wrap: $val;     
  -webkit-flex-wrap: $val;  
  flex-wrap: $val;
}

@mixin flex-direction($val) {
  -webkit-box-flex-direction: $val;  
  -moz-box-flex-direction: $val;     
  -ms-flex-flex-direction: $val;     
  -webkit-flex-direction: $val;  
  flex-direction: $val;
}


// group promo mixin ---------------------------------------------------------------------------------------------------

    @mixin groupPromo($group-promo-background-color,$group-promo-header-color, $group-promo-arrow-color,$group-promo-description-color)
{


 ul li {

     background:$group-promo-background-color;

    a {
                background:$group-promo-background-color;


                &:hover, &:active {
                        background:darken($group-promo-background-color,5%);
                      }

                
                   h3 {
                        color: $group-promo-header-color;
                
                            &:after {
                                   color:$group-promo-arrow-color;
                            }
                     }

                    p{
                        color:$group-promo-description-color;
                    }


                   }
            }  
     }

// group promo mixin for multi coloured items ---------------------------------------------------------------------------------------------------

         @mixin groupPromoMulticolors($group-promo-background-color,$group-promo-header-color, $group-promo-arrow-color,$group-promo-description-color)
{




     background:$group-promo-background-color;

    a {
                background:$group-promo-background-color;


                &:hover, &:active {
                        background:darken($group-promo-background-color,10%);
                      }

                
                   h3 {
                        color: $group-promo-header-color;
                
                            &:after {
                                   color:$group-promo-arrow-color;
                            }
                     }

                    p{
                        color:$group-promo-description-color;
                    }


                   }
            } 

//mixins
.input-focus{
    -webkit-box-shadow: 0 0 0 4px #FFBF47;
    -moz-box-shadow: 0 0 0 4px #FFBF47;
    box-shadow: 0 0 0 4px #FFBF47;
}