body {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: $base-font-size-mobile;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 641px) {
    font-size: $base-font-size-desktop;
    line-height: 1.4;
  }
}

h1,
h2,
h3,
h4,
h5,
.heading-xlarge,
.heading-large,
.heading-medium,
.heading-small,
.heading-xsmall,
.font-xxlarge,
.font-xlarge,
.font-large,
.font-medium,
.font-small,
.font-xsmall,
.bold-xlarge,
.bold-large,
.bold-medium,
.bold-small,
.bold-xsmall,
.lead,
.part-title{
  font-family: $font-primary, sans-serif;
  font-weight: $base-font-weight;
  text-transform: none;
  color:$base-font-color;

  &.top{
    margin-top:0;
    padding-top:0;
  }

  &.bottom{
    padding-bottom:0;
    margin-bottom:0;
  }
}

h1,
h2,
h3,
h4,
h5,
.heading-xlarge,
.heading-large,
.heading-medium,
.heading-small,
.heading-xsmall,
.bold-xlarge,
.bold-large,
.bold-medium,
.bold-small,
.bold-xsmall,
.part-title{
  font-family: $font-secondary, sans-serif;
  font-weight: $header-font-weight;
}

p,
ul{
  &.top{
    margin-top:0 !important;
    padding-top:0 !important;
  }

  &.bottom{
    padding-bottom:0 !important;
    margin-bottom:0 !important;
  }
}

//h1 to h5 sizes - fallback for migration of old content
h1{
  @extend .heading-xlarge;
}

h2{
  @extend .heading-large;
}

h3{
  @extend .heading-medium;
}

h4{
  @extend .heading-small;
}

//sizes - line-height - margins
.font-xxlarge {
  font-size: 53px;
  line-height: 1.0377358491;

  @media (min-width: 641px) {
    font-size: 80px;
    line-height: 1;
  }
}

.font-xlarge {
  font-size: 32px;
  line-height: 1.09375;

  @media (min-width: 641px) {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

.font-large {
  font-size: 24px;
  line-height: 1.0416666667;

  @media (min-width: 641px) {
      font-size: 36px;
      line-height: 1.1111111111;
    }
}

.font-medium {
  font-size: 19px;
  line-height: 1.2;

  @media (min-width: 641px) {
    font-size: 24px;
    line-height: 1.25;
  }
}

.font-small {
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: 641px) {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.font-xsmall {
  font-size: 14px;
  line-height: 1.1428571429;

  @media (min-width: 641px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.heading-xlarge {
  font-size: 36px;
  line-height: 1.15;
  margin:30px 0;

  @media (min-width: 641px) {
    font-size: 50px;
    line-height: 1.15;
    margin:50px 0;
  }
}

.heading-large {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 30px;
  margin-bottom: 0.5em;

  @media (min-width: 641px) {
    font-size: 32px;
    line-height: 1.25;
    margin-top: 50px;
    margin-bottom: 0.7em;
  }
}

.heading-medium {
  font-size: 19px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 0.5em;

  @media (min-width: 641px) {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 40px;
    margin-bottom: 0.7em;
  }
}

.heading-small {
  font-size: 16px;
  line-height: 1.25;
  margin-top: 25px;
  margin-bottom: 0.7em;

  @media (min-width: 641px) {
    font-size: 19px;
    line-height: 1.3157894737;
    margin-top: 30px;
  }
}

.part-title{
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 15px;

  @media (min-width: 641px) {
    font-size: 27px;
    line-height: 1.25;
    margin-bottom: 20px;
  }

} 

.part-content{
    @extend .text;

    .part-title {
        @extend .heading-large;
    }

    h2{
        @extend .heading-medium;
    }
}  

.section-title{
    display:block;
    font-size:24px;
    color:$secondary-font-color;
    font-weight:400;
}

.paragraph,
p,
p.sharepoint,
.link-back,
.hidden-text,
.text-link.reveal {
  margin-top: 0.25em;
  margin-bottom: 1em;

  @media (min-width: 641px) {
    margin-top: 0.2631578947em;
    margin-bottom: 1.0526315789em;
  }
}

.hidden-text{
  .panel{
    margin-top:10px;
  }

  a.reveal{
    @extend .border-link;
  }
}

.lead {
  font-size: 19px;
  line-height: 1.4;

  @media (min-width: 641px) {
    font-size: 24px;
    line-height: 1.4;
    margin-top: 1.0526315789em;
  }

  &.header{
    margin-bottom:50px;
  }

  a[rel="external"] {
      margin-right: 32px;
  }
}

//text-wrapper for usability reasons (recommeneded max 75 characters)
.text {
  max-width: 35em;
}

//used on subsites
.content-block {
    max-width: 48em;
    padding-bottom: 2.5em;
}

.text-description{
  margin-bottom:0;
  font-size:16px;
  font-weight:400;
  color:$secondary-font-color;

  @media (min-width: 641px) {
    font-size: 19px;
  }
}

//inset text
.text-highlight{
  border-left: 15px solid #B3D9E6;
  padding:20px;
  width:100%;
  margin: 30px 0;

  @media (min-width: 641px){
    margin: 30px 0;
  }

  h2,
  h3,
  h4,
  p:first-of-type{
    margin-top:0;
  }

  h2,
  h3,
  h4{
      margin-bottom:15px;

      @media (max-width: 641px) {
          margin-bottom:7px;
      }
  }
  
  p:last-of-type{
    margin-bottom :0;
  }

  &.text-highlight--blue{
    border-color:$base-link-color;
    background:rgba($base-link-color, 0.1);
  }

  &.text-highlight--green{
    border-color:$primary-button-background-color;
    background:rgba($primary-button-background-color, 0.1);
  }

  &.text-highlight--red {
    border-color: $red;
    background: rgba($red,0.1);
}
}

//text block
.text-block{
  @extend .text-highlight;
  margin:0 0 30px;
  padding-top:0;
  padding-bottom:0;
  border:0;
  border-left: 1px solid #B3D9E6;
}

//typography - notice
.notice{
  position:relative;
  margin:30px 0;

  i{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    font-size:30px;
  }

  strong {
    display: block;
    padding-left: 55px !important;
    margin-left: -15px;
  }
}

//links

//doc styling - needs aligning with doc list stylying
 a.doc {

        border-bottom:1px solid $border-color;
        padding:20px 15px 20px 40px;
        margin:0px;
        display:block;
        font-weight:bold;
        position:relative;

        &:first-of-type{
          border-top:1px solid $border-color;
        }

        &:hover{
          background:$border-color;
          text-decoration:none;          
        }

        span{
            color:$secondary-font-color;
            margin-left:10px;
        }

        &:before{

                font-family: FontAwesome;
                position:absolute;
                font-weight: normal;
                top: 17px;
                left: 10px;
                height: 25px;
                margin-top:-5px;
                width: 25px;
                display: block;
                padding:0px;
                font-size: 22px;
            
        }


    &.pdf:before {
  content: '\f1c1';
  color:#ED1F24;

    }   
 &.word:before{
    content: '\f1c2';
    color:#294BA0;
} 

&.xl:before{
    content: '\f1c3';
    color:#269129;
} 

&.external:before{
    content: '\f08e';
    color:rgba(0,0,0, 0.5);
}

&.pp:before{
    content: '\f1c4';
    color:orange;
}

   &.pdf,  &.word,  &.xl ,  &.external, &.pp{ 
       &:hover{
        &:before{
            color:#333;
        }
    }
   }
}

//link variant icons
a[rel]:after{
    font-family: FontAwesome;
    padding:0 5px;
}

a[rel="xl"]:after,
a[rel="xsl"]:after,
a[rel="xslx"]:after {
      content: "\f1c3"; 
}

a[rel="pdf"]:after {
    content: "\f1c1";
}

a[rel="doc"]:after,
a[rel="docx"]:after {
  content: "\f1c2"; 
}

a[rel="pp"]:after,
a[rel="pt"]:after {
  content: "\f1c4"; 
}

a[rel="external"]:after {
    content: "\f08e"; 
}

a {
    text-decoration:underline;
    color:$base-link-color;

    &:hover{
      color:$base-link-hover-color;
    }

    &:visited{
      text-decoration:underline;
    }
}

.link{
  @extend a;
  border:0 !important;
  padding:0 !important;
}

a[rel="external"]{
  margin-right:25px;

    &:after {
      position: absolute;
  }
}

.text-link.reveal{
  text-decoration: none;

  &.collapsed{
    span{
      border-bottom:1px solid $base-link-color;
    }
  }

  &:before{
    font-family: FontAwesome;
    content: "\f0d7";
  }

  &.collapsed{

    &:before{
      content: "\f0da";
    }
  }
}

.link-back{
  text-decoration:none !important;
  border-bottom:1px solid $base-link-color;
  display:inline-block;

   &:before{
    font-family: FontAwesome;
    content: "\f0d9";
    margin-right:5px;
  }

  &:hover{
    border-bottom:1px solid $base-link-hover-color;
  }

  &:visited{
    color:$base-link-color !important;
  }
}

.link-small{
    @extend .font-xsmall;
    color:$base-link-color;
}

//lists
ul,
ol {
  list-style-type: none;
}

.list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;

  @media (min-width: 641px){
    margin-bottom: 17px;
  }

  li {
    margin-bottom: 7px;
  }
}

.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
}

.list-number {
  list-style-type: decimal;
  padding-left: 20px;
}

.heading-contents {
  margin-top: 3em;
}

.list-contents{
    font-size:16px;
}

.list-nav{
    font-size:16px;
    width:100%;

    @media (min-width: 641px) {
      font-size:19px;  
  }

  li{
    margin-bottom: 10px;
    line-height:1.7;

    a{
      @extend .border-link;
    }
  }
}

//blockquote
blockquote {
    border-left: 15px solid $base-link-hover-color;

    p{
      font-size:24px !important;

      @media (max-width: 641px) {
        font-size:19px !important;
      }
    }

  span.open-quote:after {
    color: $border-color;
  }

  footer {
    color: $base-font-color;

    @media (max-width: 641px) {
      font-size:16px !important;
    }
  }
}

//element spacing
ul + .text-highlight{
    margin-top:6px;
}

ul + .heading-large{
    margin-top:26px;
    @media (max-width: 641px){
        margin-top:6px;
    }
}

ul + .heading-medium{
    margin-top:16px;
    @media (max-width: 641px){
        margin-top:6px;
    }
}

ul + .heading-small{
    margin-top:6px;
    @media (max-width: 641px){
        margin-top:1px;
    }
}

ul + p{
    margin-top:0;
}

.text-highlight + p{
    margin-top:0;
}

.btn + h2,
.btn + h3,
.btn + .heading-medium,
.btn + .heading-small{
    margin-top:50px;

    @media (max-width: 641px) {
        margin-top:30px;
    }
}

//contact
.list-nav .contact{
    i{
        margin-right:10px;
    }
}

.contact{
    font-size:21px;

    @media (max-width: 641px) {
        font-size:19px;
    }

    i{
        margin-right:10px;
    }
}

.sub-section a + p.contact{
    margin-top:0;
}

h2 + h3{
    margin-top:0;
}

.text-highlight {
    p + ul{
        margin-top:15px;
    }
}

.top-header-margin{
  margin-top:50px;

  @media (max-width: 641px) {
        margin-top:30px;
    }
}

.more{
    font-weight:700;
}

//contact page old styles
.box-layout{
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin:0 0 0 -15px;
    width:auto;
    padding:0 0 15px;

    .box-layout-item{
        padding-bottom:10px;
        width: calc(100% * (1/3) - 16px);
        margin:15px 0 0 15px;
        border:0;
        background:$lighter-grey;
        padding:30px;

        @media (max-width: 1200px) {
            width: calc(100% * (1/2) - 16px);
        }

        @media (max-width: 600px) {
            width: 100%;
        }
    }

    h2,
    h3,
    h4{
        &:first-of-type{
            margin-top:0;
        }
    }
}

//contact page
.telephone{
    font-weight:700;

    &:before{
        font-family: FontAwesome;
        content: "\f095";
        margin-right:10px;
    }

    .additionalInfo{
        @extend .font-xsmall;
        display:block;
        font-weight:400;
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}