//black and greys
$black:#212224 !default;
$light-black:#3D414A !default;
$dark-grey:#666B76 !default;
$grey:#9DA5B2 !default;
$light-grey:#DCDEE1 !default;
$lighter-grey:#F6F7FA !default;

//colours
$red:#c0392b !default;
$blue:#007299 !default;
$dark-blue: #003F55 !default;
$light-blue: #3399BB !default;
$pale-blue: #b3d9e6 !default;

// masterhead.scss
$head-background: #ffffff !default;

//mainMenu.scss -- responsive icons color
$menu-link-color:$light-blue !default;

//base.scss
$base-background-color:#fff !default;
$base-font-color:$black !default;
$base-link-color:$blue !default;
$base-container-width:1500px !default;
$btn-background-color:#008000 !default;
$base-hover-color:$dark-grey !default;
$base-hover-background:$lighter-grey !default;

//extra colours
$focus-color:#FFBF47 !default;
$secondary-link-color:$dark-blue !default;
$secondary-font-color:$dark-grey !default;
$border-color:$light-grey !default;
$panel-color:#E5F1F5 !default;
$button-hover-color:#009A00 !default;
$base-link-hover-color:$light-blue !default;

//typography
$font-primary: Arial !default; // main font
$font-secondary: Arial !default; // secondary font
$base-font-size:16px !default;
$base-font-size-desktop:19px !default;
$base-line-height: 1.4 !default;
$header-font-color: $black !default;
$header-font-weight: 700 !default;
$base-font-weight: 400 !default;

//links
$base-link-hover-color:$light-blue !default;
$base-link-visited-color:#4C2C92 !default;
$secondary-link-color:$dark-blue !default;
$secondary-font-color:$dark-grey !default;

//panel colours
$panel-color:#F6F7FA !default;
$panel-color-secondary: darken(#F6F7FA,5%) !default;
$panel-alt-background-color:$base-link-color !default;
$panel-alt-color:white !default;
$panel-event-date-background-light:$base-link-color !default;
$panel-event-date-background-dark:darken($panel-event-date-background-light,5%) !default;
$panel-event-date-color:white !default;

$hightlight-color:$base-link-color !default;

//global used on all partials to get a uniform spacing between elements
$base-margin-bottom:1.875em !default;

//headerTop
$search-link-background:#F3F3F4 !default;
$search-link:#333 !default;

// mainNav.scss
$main-nav-background:lighten($blue,3%) !default;
$main-nav-active-background:$blue !default;
$main-nav-link:#fff !default;
$main-nav-selected-link: #fff !default;
$main-nav-background-hover:$blue !default;
$main-nav-link-background:$blue !default;
$main-nav-flyout-link-background:$blue !default;
$main-nav-flyout-background:$blue !default;
$main-nav-flyout-link:#fff !default;

//footer.scss
$footer-font-color:#fff !default;
$footer-nav-selected-link:$blue !default;
$footer-list-item-width:23%  !default;
$footer-gutter-width:0 1% !default;

//sectionSubsite.scss - socialamedia.scss
$section-Background:#efefef !default;

//socialamedia.scss
$social-link-color:#337ab7 !default;

//sideNavigation.scss
$side-nav-active-background:$blue !default;

//carousel.scss
$carousel-active-background:#000 !default;
$carousel-indicators-active-background:#ccc !default;
$carousel-caption-background: rgba(0,0,0,0.6) !default;
$carousel-caption-font-color:#fff !default;

// blocklinks.scss
$block-link-back:#f6f6f6 !default;
$block-link-back-hover:#3380A4 !default;

$promo-group-border:1px solid #fff !default; 
$promo-group-background:#EDF2F5 !default; 
$promo-group-li-background:#EDF2F5 !default;
$promo-group-link-color:#216486 !default;

//promolist webpart
$link-font-color:#fff !default ;
$span-info-color:$blue !default;
$span-info-hover:#131A22 !default;
$span-info-secondary-color:#fff !default;
$span-arrow-base:darken($span-info-color, 10%) !default;
$span-third-info-base:#f6f6f6 !default;
$third-info-font-color:#333 !default;
$arrow-color:#fff !default;
$contentFontColor:#333 !default;
$content-arrow-color:$blue !default;
$content-border-color:#ddd !default;
$green:#009999 !default;
$lime:#CCCC00 !default;
$yellow:#FFCC33 !default;
$orange:#FF6666 !default;
$magenta:#CC6699 !default;
$pink:#FF6699 !default;
$purple:#666699 !default;

//section backgrounds
$sectionHeader-background-color:lighten($base-background-color, 3%) !default;
$sectionOne-background-color:darken($base-background-color, 5%) !default;
$sectionTwo-background-color:darken($base-background-color, 10%) !default;
$sectionThree-background-color:lighten($base-background-color, 3%) !default;
$sectionFour-background-color:lighten($base-background-color, 5%) !default;
$sectionFive-background-color:darken($base-background-color, 5%) !default;

//eventwebparts
$eventsfilter-hightlight-color:#000 !default;

//accordion
$accordion-color:$base-link-color !default;
$accordion-border-color:$border-color !default;

//news
$news-button-background: #008000 !default;
$news-pod-back:#F7F9F9 !default;
$news-pod-border-color:#fff !default;

//list display webpart 
$list-webpart-back:#ddd !default;
$list-webpart-font-color:#333 !default;

//SideNav
$sidenav-active-color:#E67E22 !default;

//Promo background 
$promo-span-back:rgba(0,0,0,0.6) !default;
$promo-span-color:#fff !default;

//Block quote
$blockquoteBorderColor:#bbcada !default;
$blockquoteQuoteColor:#333 !default;
$blockquoteQuoteFooterColor:#000!default;

//highlighted box in contentAssets
$highlighted-background-color:#333 !default;
$highlighted-font-color:#fff !default;
$highlighted-alt-background-color:#f6f6f6 !default;
$highlighted-alt-font-color:#333 !default;

//mega-promo
$promo-background-color:$lighter-grey !default;
$promo-arrow-color:#9DA5B2 !default;
$promo-header-color:$blue !default;
$promo-secondary-color:$black !default;
$promo-highlight-background-color:$blue !default;
$promo-highlight-color:#FFFFFF !default;
$promo-arrow:"\f054" !default;

//button colours
$primary-button-background-color:#008000 !default;
$primary-button-color:white !default;
$secondary-button-background-color:$blue !default;
$secondary-button-color:white !default;
$outline-button-border-color:$blue !default;
$outline-button-color:$blue !default;

//group promo colours
$group-promo-background-color: $lighter-grey  !default;
$group-promo-header-color: $blue  !default;
$group-promo-description-color: $black !default;
$group-promo-arrow-color: $grey  !default;

//form colours
$input-color:$black !default;
$input-border-color:$grey !default;

//Arrow Link
$ArrowLinkBorderColor:#bbcada !default;
$ArrowLinkColor:#333 !default;

//responsive menu width
$responsiveMenuWidth:767px !default;

//bootsrap overrides
$bootstrap-padding:15px !default;

//doc colors
$pdf-color:#ED1F24 !default;
$word-color:#294BA0 !default;
$excel-color:#269129 !default;
$external-color:rgba(0,0,0, 0.5) !default;
$powerpoint-color:orange !default;

//phase banner
$phase-banner-background:$panel-color !default;
$phase-banner-stage-background:#007299 !default;
$phase-banner-color:white !default;

//back to top colors
$back-top-color:white !default;
$back-top-hover-color:white !default;
$back-top-background:black !default;
$back-top-hover-background:grey !default;