ul.accordion {
    list-style: none;
    padding:0px;
    margin:30px 0;
    border-top:1px solid $border-color;

    > li{
        border-color:$border-color;
        border-bottom:1px solid $border-color;
        border-left:5px solid transparent !important;

        &:hover{
            border-left:5px solid $base-link-color !important;
        }

        a.header{
            display:block;
            position: relative;
            border:none !important;
            font-weight:700;
            padding: 20px 20px 20px 60px;
            text-decoration:none !important;
            font-size:19px;
            color: $base-link-color;

            @media (max-width: 641px){
                padding: 15px 15px 15px 35px;
                font-size:16px;
            }

            &:hover{
                background:rgba(0,0,0,0.05);
                color: $base-link-color;
            }

            &:focus{
                color: $base-font-color !important;

                &:after{
                    color: $base-font-color !important;
                }
            }

            &:after {
                font-family: FontAwesome;
                font-size: 19px;
                content: "\f067";
                position: absolute;
                right: auto;
                left: 20px;
                top:21px;
                margin-top:0;
                color: $base-link-color;
                font-weight:400;

                @media (max-width: 641px){
                    font-size:16px;
                    left: 10px;
                    top:16px;
                }
            }    

            &.active{
                &:after{
                    content: "\f068"; 
                }      
            }

            &:visited{ 
                color: $base-link-color;
            }
        }  

        div.content-block{
            padding:15px 20px 5px 60px;

            @media (max-width: 641px){
                padding: 10px 10px 5px 35px;
            }
            
            div {
                display: block !important;
            }
        }
    }

    .list{
        a{
        text-decoration:none;
        }
    }
}

ul.accordion div.text-block {
    padding: 0 20px !important;
}

ul.accordion div.text-highlight {
    padding: 20px !important;
}

ul.accordion li div.content-block div:last-of-type {
    padding-bottom:30px !important;
}

ul.accordion li div.content-block div + .btn {
    margin-right:20px;
}

ul.accordion div.text-highlight {
    padding: 20px !important;
}