ul.accordion {

  
         list-style: none;
         padding:0px;
         margin:0px 0 $base-margin-bottom 0;

         li{
           
            border-bottom:1px solid $accordion-border-color;


            a.header{
                display:block;
                padding:15px 40px 15px 15px;
                position: relative;
                font-size:20px;

                &:hover, &:focus
                {
                  background:rgba(0,0,0,0.05);
                }


                    &:after
                            {
                            font-family: FontAwesome;
                            font-size:18px;
                            content: "\f078";
                            position:absolute;
                            right:10px;
                            color:$accordion-color;

                            }      

            }   
             &.active{

                    a:after
                            {
                            content: "\f077"; 
                            }      

             }
          

            div div {
                padding:15px;

                li{
                    border:none;
                }

            }
         }
 

   

     border-top:1px solid $accordion-border-color;
}