//accessibility
a:focus, 
input[type=submit]:focus, 
.btn:focus,
.button:focus,
.ms-srch-sb > .ms-srch-sb-searchLink:focus,
.main-nav ul li a.selected:focus,
.promoListWebpart ul li a:focus .info,
.promoListWebpart ul li a:focus .info .arrow,
.promoListWebpart ul li a:focus .secondaryInfo,
.promoListWebpart a:focus .info .arrow:after,
a:focus .eventsContentPod, a:focus .venuesContentPod,
a:focus .eventsContentPod h3, a:focus .venuesContentPod h3,
a:focus .eventsContentPod:after, a:focus .venuesContentPod:after, 
a:focus .eventsContentPod .additionaldates,
.promo a:focus span,
.sideNav ul li:first-of-type a:focus, .sideNav ul li:first-of-type a.active:focus,
.iconLinks li a:focus:after
{
    background-color:#FFBF47 !important;
    color:#212224  !important;
    text-decoration:none;   
    outline:0; 
}
//promo overide
.promo a:focus{
    background:transparent !important;
}

//accessibility skip links
a.skip {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip:focus, a.skip:active{
    left: 8px;
    top: 8px;
    width:auto;
    height: auto;
    overflow:auto;
    z-index:999;
    padding:0.625em;
}


.ms-srch-sb > input, input[type=text], select, input.mapIcon, input[type=checkbox], input[type=radio], .footerLogos a:focus  {
        outline:0;
        
        &:focus{
            -webkit-box-shadow: 0 0 0 4px $focus-color !important;
            -moz-box-shadow: 0 0 0 4px $focus-color !important;
            box-shadow: 0 0 0 4px $focus-color !important;
        }
    } 

