
.atoz{
    background:#F6F7FA;
    padding:10px 0 6px;
    width:100%;
    text-transform:uppercase;
    margin-top:30px;

    @media (max-width: 1300px){
        padding: 10px 0 16px;
    }

    .atoz__header{
        display:inline-block;
        margin:0;
        font-size:21px;
        font-weight:800;
        line-height:1em;
        padding:10px 0;

        @media (max-width: 641px){
            font-size:19px;
        }
    }

    ul{
        float:right;
        padding:5px 0;
        margin:0;

        @media (max-width: 1300px){
            float: none;
        }

        li{
            float:left;
            list-style: none;
            font-size:21px;
            font-weight:600;
            line-height:1em;
            text-align:center;
            padding:0;
            margin:0 4px 4px 0;

            @media (max-width: 641px){
                font-size:16px;
            }

            &:last-of-type a{
                width:60px;
            }

            a{
                padding:5px 0;
                border:0;
                text-decoration:none;
                border:1px solid white;
                width:30px;
                display:inline-block;
                background:white;

                &:hover{
                    background:$base-link-color;
                    color:white;
                }
            }

            &.active{
                a{
                    background:$base-link-color;
                    color:white;
                }
            }

            &.inactive{
                padding:5px 0;
                color:#9DA5B2;
                width:30px;
                display:inline-block;
                border:1px solid white;
                background:#F6F7FA;
            }
        }
    }
}

//list atoz
.list-atoz{
    margin:0 0 30px;

    li{
        margin-bottom:10px;
        padding-left:10px;

        h2{
            @extend .heading-medium;
            margin:20px 0 5px -10px;
        }
        
    }

    li:first-child h2{
        margin-top:0;
    }
}

#atozListResultsTop,
#DeltaPlaceHolderMain {
    .atoz{
        margin:0;
    }
}

//atoz
.list-atoz{
    padding:0;
    float:none;

    li{
        padding:0;

        h2{
            margin:20px 0;
        }
    }
}