@import 'variables';
@import 'url-helper';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

/*overide bootstrap*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 0px;
}


.header-nav-container {
  position:relative;
}

/**********************
BACK TO THE TOP
********************/

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.8) file-url('cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  -o-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
    z-index:999;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: rgba(0, 0, 0, 1.0);
  opacity: 1;
}
@media only screen and (min-width: 767px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/*BACK TO TOP END*/



/*link styles*/

a[rel]:after{
        font-family: FontAwesome;
        padding:0 5px;
}


a[rel="xl"]:after {
      content: "\f1c3"; 


}

a[rel="pdf"]:after {
    content: "\f1c1";

}

a[rel="doc"]:after {
  content: "\f1c2"; 
}

a[rel="pp"]:after {
  content: "\f1c4"; 

}

a[rel="external"]:after {
    content: "\f08e"; 
}
// space for the top of  pagelayouts
.spacer
{
    padding-top:20px;
    display:block;
}

.clearfix{
  clear:both;
}


.btn, .button {
  padding:15px 20px;
  border-radius:0px;
}


.btn-primary, .button
{
  border:1px solid;
}



 .btn, .button, .btn:visited, .button:visited
    {
      position:relative;
      padding-right:55px;
      color:#fff;

      &.btn-default, &.alt
{
  border:1px solid;
  box-shadow:none;
  background:transparent;
}

      &:after{
                            font-family: FontAwesome;
                            font-size:18px;
                            line-height:2.8em;
                            content: "\f105";
                            position:absolute;
                            right:0px;
                            height:100%;
                            background:rgba(0,0,0,0.1);
                            padding:0 13px !important;
                            top:0px;
    }
    }

/*BOOTSTRAP OVERIDES*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 20px;
    padding-left: 20px;
}


.container-fluid{
    max-width:1500px;
}

.container-fluid.full{
    max-width:100%;
}

.content-block {
    max-width: 48em;
    padding-bottom: 2.5em;
}


/*SKIP LINKS*/
a.skip {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip:focus, a.skip:active{
    left: 0.625em;
    top: 0.625em;
    width:auto;
    height: auto;
    overflow:auto;
    z-index:999;
    padding:0.625em;
}

/*SKIP LINKS END*/

/** Media Player CSS - needs to be moved to front end toolkit **/
.media-container .media-player {
    display: block;
    overflow: hidden;
    margin: 30px 0
}

.media-container .media-player.player-wide {
    min-width: 580px
}

.media-container .media-player span {
    display: block;
    margin: 0;
    padding: 0
}

.media-container .media-player .video {
    position: relative;
    z-index: 3000
}

.media-container .media-player .video iframe {
    display: block
}

.media-container .media-player .logo {
    display: none
}

.media-container .media-player .control-bar {
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #bfc1c3
}

.media-container .media-player .control-bar button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer
}

.media-container .media-player .control-bar a:focus,.media-container .media-player .control-bar button:focus {
    background-color: #ffbf47;
    outline: none
}

.media-container .media-player .control-bar .player-controls .play,.media-container .media-player .control-bar .player-controls .pause {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -5000%;
    background-repeat: no-repeat;
    background-position: center left
}

.media-container .media-player .control-bar .player-controls .play {
    background-image: url(https://assets.publishing.service.gov.uk/static/player-icon-play-5f23ea564bd748ccc9c6e524d5ffbeda9bf8a22d46a8a9c0a4ef8656b017203c.png)
}

.media-container .media-player .control-bar .player-controls .pause {
    background-image: url(https://assets.publishing.service.gov.uk/static/player-icon-pause-0b5610c829c02671ca50e892d91f0174edba49ee46b646552a8584f6eb6c9657.png)
}

.media-container .media-player .control-bar .player-controls .rewind,.media-container .media-player .control-bar .player-controls .forward {
    position: absolute;
    top: 0;
    z-index: 30;
    height: 20px;
    width: 40px;
    overflow: hidden;
    text-indent: -5000%;
    background-repeat: no-repeat;
    background-position: center left
}

.media-container .media-player .control-bar .player-controls .rewind {
    left: 0;
    background-image: url(https://assets.publishing.service.gov.uk/static/player-icon-rewind-f6c25d30d21e8b1179a965bf0ccb7c8741bf89a2c084e3a5d1c9b9eb0e6ee729.png)
}

.media-container .media-player .control-bar .player-controls .forward {
    left: 100%;
    margin-left: -40px;
    background-image: url(https://assets.publishing.service.gov.uk/static/player-icon-forward-2b7a0f97a46fdd5cf8b530c404d550dfb49d7f06c61956fc01e7dcff832f9af6.png)
}

.media-container .media-player .control-bar .volume-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 180px;
    overflow: visible
}

.media-container .media-player .control-bar .volume-controls .mute {
    position: absolute;
    bottom: 0;
    left: 120px;
    height: 40px;
    width: 50px;
    padding-top: 1px;
    font-size: 14px;
    line-height: 40px;
    text-align: center
}

.media-container .media-player .control-bar .volume-controls .muted {
    color: #2b8cc4
}

.media-container .media-player .control-bar .volume-controls .muted ~ * {
    opacity: 0.333
}

.media-container .media-player .control-bar .volume-controls .muted ~ .vol-display {
    text-decoration: line-through
}

.media-container .media-player .control-bar .volume-controls .muted::after {
    content: "d"
}

.media-container .media-player .control-bar .volume-controls .vol-down,.media-container .media-player .control-bar .volume-controls .vol-up {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 60px;
    padding-top: 2px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    z-index: 10
}

.media-container .media-player .control-bar .volume-controls .vol-down:hover,.media-container .media-player .control-bar .volume-controls .vol-down:focus,.media-container .media-player .control-bar .volume-controls .vol-up:hover,.media-container .media-player .control-bar .volume-controls .vol-up:focus {
    color: #2b8cc4
}

.media-container .media-player .control-bar .volume-controls .vol-down {
    text-align: left;
    padding-left: 10px;
    left: 0
}

.media-container .media-player .control-bar .volume-controls .vol-up {
    text-align: right;
    padding-right: 10px;
    left: 60px
}

.media-container .media-player .control-bar .volume-controls .vol-display {
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 40px;
    width: 0;
    padding-left: 35px;
    overflow: visible;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(https://assets.publishing.service.gov.uk/static/player-icon-volume-5e2b2e02188f3c1065656dae9e64d80fb21de5c2455751cb91d4814862394f17.png)
}

.media-container .media-player .control-bar .current-time {
    position: absolute;
    bottom: 0;
    left: 50px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold
}

.media-container .media-player .control-bar .duration-time {
    display: none;
    position: absolute;
    bottom: 0;
    right: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold
}

.media-container .media-player .control-bar .ui-slider {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background: #bfc1c3
}

.media-container .media-player .control-bar .ui-slider .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-bottom: 1px;
    background: #2b8cc4
}

.media-container .media-player .control-bar .ui-slider .ui-slider-handle {
    position: absolute;
    top: 0;
    height: 100%;
    padding-bottom: 1px;
    width: 20px;
    color: rgba(0,0,0,0.5);
    z-index: 10
}

.media-container .media-player .ui-helper-hidden-accessible {
    position: absolute;
    left: -5000%
}

/** end of media player ***/



/** jquery ui datepicker overides ***/
 .ui-widget {
	background: #fff;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 2px 2px 0px 0px #ccd5d7;
}

 .ui-datepicker {
	padding: 0;
}

 .ui-datepicker-header {
	border: none;
	border-bottom: 1px solid transparent;
	background:#006da5;
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
    position:relative;
}

 .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

 .ui-datepicker .ui-datepicker-title {
	margin-top: 0;
	margin-bottom: 0;
    padding:20px 0 19px 0;
    text-align:center;
    color:#fff;
    font-size:12px;
}

 .ui-datepicker .ui-datepicker-prev-hover,
 .ui-datepicker .ui-datepicker-next-hover,
 .ui-datepicker .ui-datepicker-next,
 .ui-datepicker .ui-datepicker-prev {
	top: 1.7em;
	border:none;
    position:absolute;
    height: 100%;
    padding: 0 10px;

    span{
     display:none;
    }

    &:hover{
        background:darken(#006da5,10%);
        text-decoration: none;
    }
}

 .ui-datepicker .ui-datepicker-prev-hover {
	left: 0px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 0px;
}

.ui-datepicker .ui-datepicker-next 
.ui-datepicker .ui-datepicker-prev  {


	margin-top: 0;
	top: 0;
	font-weight: normal;
}

.ui-datepicker .ui-datepicker-prev {
	left:0px;
    top:0px;
}

.ui-datepicker .ui-datepicker-next {
	right:0px;
    top:0px;
}




.ui-datepicker .ui-datepicker-prev:after {
	    font-family: FontAwesome;
    content: "\f104";
    font-size: 35px;
    color:#fff;
    line-height:1.6em;
}

.ui-datepicker .ui-datepicker-next:after {
	    font-family: FontAwesome;
    content: "\f105";
    font-size: 35px;
    color:#fff;
    line-height:1.6em;
}

 .ui-datepicker table {
	margin: 0;
    width:250px;
}

.ui-datepicker th {
	padding: 1.5em 0;
	color: #333;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	border: none;
    background:#efefef;
    text-align:center;
}

 .ui-datepicker td {
	border: none;
	padding: 0;
}

 td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	padding: 1em 0;
	margin: 0;
	font-weight: normal;
	color: #333;
	font-size: 12px;
    display:block;
}

 td .ui-state-active,
 td .ui-state-hover {
	background: #006da5;
	border-radius:0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

/** jquery ui datepicker overides ***/
