.breadcrumb {
    padding: 0;
    margin:20px 0 0 0;
    list-style: outside none none;
    background-color: transparent;
    border-radius: 0;
    font-size: 20px;

span span a:after {
    font-family: fontAwesome;
    content: "\f105";
    font-size:20px;
    padding: 0 5px;

}

img {
    display: none;
}

}