.contentLink
{
   ul{
      margin:0px;
      list-style:none;
      padding:0px;
    
    li{
        

        div{
            padding:30px;
            background:#ECF0F1;
            text-align: center;

            img{
                max-width:100%;
            }

            h2{
                font-size:30px;
                font-weight:bold;
            }

            p{
                margin:30px;
            }

            
        a{
            width:100%;
        }

        }
  

        

    }
    }
}

