
 .logo{

        height:148px;
        width:280px;
        background:url(../img/logo.png) center center no-repeat;
        margin:20px 0;

        @media (max-width: 767px){
            height:100px;
        }
    }