// headerTop.scss

@import 'variables';

/**********
TOP NAV
*********/


#header{
    position:relative;


}

.sectionHeader {
    padding: 30px 0px;

.container{
    padding:0;
}

}

       .logo{
        margin-left:auto;
        margin-right:auto;
        float:left;
        height:150px;
        width:280px;
        background:url(../img/logo.png) center center no-repeat;
    }

@media (max-width: 767px){

     .logo{
        float:none;
    }

}


#navbar .container{
    padding:0;
}



