//breadcrumb - should we add this to the front-end toolkit?
.breadcrumb {
    padding: 0;
    margin: 10px 0 0;
    font-size: 16px;

    @media (max-width: 767px) {
        padding: 0;
        font-size: 14px;
    }

    ul{
        padding:0;

        li{

            a{
            position:relative;
            margin-right:16px;


                &:after {
                    position:absolute;
                    display:inline-block;
                    content: "/";
                    font-size: 16px;
                    padding: 0 8px;
                    text-decoration:none !important;
                }
            }
        }
    }
}

/*could be coded better*/
.breadcrumb ul:first-child{
  margin-left:0;
}