@import 'leedsgov-overrides/lcc-footer';
@import 'leedsgov-overrides/lcc-group-promo';
@import 'leedsgov-overrides/lcc-mega-promo';
@import 'leedsgov-overrides/lcc-search';


//right hand column top margin
aside.col-md-4 {
    margin-top: 50px;
    @media (max-width: 990px) {
        margin-top: 30px;
    }
    &.empty {
        margin-top: 0 !important;
    }
}

//social bookmark link text decoration color 
.socialBookmarks ul li a:visited {
    color: $blue;
}

//btn overrides
.btn-primary,
.form-group input[type=button],
.form-group input.btn.btn-primary,
.form-group input[type=submit],
.limitedrte-Style-BUTTON {
    box-shadow: 0px 3px 0px darken($primary-button-background-color, 10%);
}

.btn-secondary,
.form-group input[type=button].btn-secondary {
    box-shadow: 0px 3px 0px darken($secondary-button-background-color, 10%);
}

.btn {
    padding: 15px 20px;
    &.btn-arrow,
    &.btn[rel=external] {
        padding-right: 45px;
        &:before {
            display: none !important;
        }
        &:after {
            right: 20px;
            top: 50%;
            height: auto;
            background: transparent;
            padding: 0 0 0 15px;
            font-size: inherit;
            text-align: center;
            line-height: 0;
            width: auto;
        }
    }
    &:focus,
    &:active {
        border-color: $focus-color !important;
        box-shadow: 0px 3px 0px $focus-color;
    }
    &.btn-small{
        padding: 10px 14px;
        @media (min-width: 641px) {
            padding: 12px 16px;
        }
        &.btn-arrow{
            padding: 10px 40px 10px 14px;
            @media (min-width: 641px) {
                padding: 12px 42px 12px 16px;
            }
        }
    }
}


//video container
.media-container {
    margin: 30px 0;
}

//bredcrumb override
.breadcrumb {
    line-height: 1.5;
}

//increased line-height for body content
.paragraph,
p,
p.sharepoint,
.link-back,
.hidden-text,
.text-link.reveal,
ul.list {
  line-height:1.6;
}

//lead text
.lead {
  font-size: 19px;
  line-height: 1.6;

  @media (min-width: 641px) {
    font-size: 24px;
    line-height: 1.6;
    margin-top: 1.0526315789em;
  }

  &.header{
    margin-bottom:50px;
  }

  a[rel="external"] {
      margin-right: 32px;
  }
}