// masterHead.scss
@import 'url-helper';
@import 'responsiveMenu';


.masterhead{
    background: #fff;
    width:100%;
    position:relative;

    a.navbar-brand {
    background: file-url('lcclogo.svg') center center no-repeat;
    display: inline-block;
    height: 58px;
    width: 120px;}

   @media (max-width: 767px){
    .container-fluid
    {
        padding-right:0px;
    }
}
}