@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin ulStyle(){
  list-style: none;
  padding:0px;
  margin:0px;

    li{
      display:inline-block;
    }
}



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin icon(){
       &:after, &:before {
       font-family: FontAwesome;
       font-size:20px;
       }  


    }


    @mixin listWebpartColors($list-webpart-back,$list-webpart-font-color)
{
background: $list-webpart-back;
color: $list-webpart-font-color;

 h2{
     color: $list-webpart-font-color;
 }

    a {
                background:lighten($list-webpart-back, 7%);
                color:$list-webpart-font-color;

                &:hover
                {
                    background:darken($list-webpart-back, 10%);
                }
            
            }
 
}
   







