
$base-link-color:blue !default;
$accordion-color:blue !default;

.page-navigation{
   border-bottom:1px solid #ddd;
   margin:0 0 0.6em 0;
   padding:0 0 20px 0;
   clear:both;

@media only screen and (max-width:640px){
       padding:0 0 0px 0;
}

  ol{
      max-width:49em;
      float:left;
      margin:0px;

      li{


      a {
           padding:0em 1em 0.25em 0.25em;
           display:block;
           text-decoration:underline;

           &:hover{
               color:darken($base-link-color, 20%);
           }

           &.active{
              color:#333;
              text-decoration:none;
              &:hover, &:focus{
                  cursor:default;
                  background:transparent;
              }
           }
      }

   
  }   
      @media only screen and (min-width:640px){
       -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-gap: 40px;

      }

      @media only screen and (max-width:640px){
      position:absolute;
      left:-999px;
      width:100%;
      margin:15px 0;
      }


}

   &.page-navigation-open {
          ol {
              position:static;
              left:0px;
     
          }
      }

  .show-all-parts
  {
    border-top:1px solid #ddd;
    padding:15px 10px;
    display:none;

    &:after{
                            font-family: FontAwesome;
                            font-size:20px;
                            content: "\f078";
                            right:30px;
                            position:absolute;
                            color:$accordion-color;
                            margin-top:-3px;

    }

        &.active  {
        background:#f6f6f6;     

        &:after{
                            content: "\f077";
        }
    }
    @media only screen and (max-width:640px){
    display:block;
}
  }

}
