.phase-banner{
    padding:7px 0;
    background:$phase-banner-background;

    p{
        margin:0;
        font-size:16px;
        line-height:1.4;

        @media (max-width: 641px){
            font-size:14px;
            position:relative;
            @include flexbox();
            @include align-items(flex-start);
        }

        strong{
            background:$phase-banner-stage-background;
            color:$phase-banner-color;
            padding:1px 5px;
            @include border-radius(2px);
            margin-right:7px;

            @media (max-width: 641px){
                margin-right:10px;
            }
        }
    }

    &.page{
        padding:10px;
    }
}