$phase-banner-stage-background:$yellow !default;
$phase-banner-stage-color:$black !default;

.phase-banner{
    padding:7px 0;
    background:rgba(#FFBF47, 0.5);

    p{
        margin:0;
        font-size:16px;
        line-height:1.6;

        @media (max-width: 641px){
            font-size:14px;
        }

        strong{
            background:#007299;
            color:white;
            padding:1px 5px;
            @include border-radius(2px);
            margin-right:3px;

        }
    }

    &.page{
        padding:10px 0;
        background:transparent;
        border-bottom:1px solid $border-color;

        strong{
            background:$phase-banner-stage-background;
            color:$phase-banner-stage-color;
        }
    }
}