/*******************
POLAROID WEBPART
********************/
.polaroid {
   
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
    margin:50px 0;



   .listWebpart li {
    width:25% !important;   





 a{
	text-decoration:none;
    color: #293238;
    border-bottom: none;
	margin-bottom:5px;
    font-size:1.1em;
    margin:0px;
    padding:0px;
    background:#fff;
	border: 10px solid #293238;
    margin:10px;
	text-align: center;
	padding:10px;
    height:100%;
    display:block;
    -webkit-box-shadow: 10px 10px 21px -5px rgba(189,189,189,1);
    -moz-box-shadow: 10px 10px 21px -5px rgba(189,189,189,1);
    box-shadow: 10px 10px 21px -5px rgba(189,189,189,1);
    -ms-transform: rotate(4deg) translate3d( 0, 0, 0);
	-webkit-transform: rotate(4deg) translate3d( 0, 0, 0);
	transform: rotate(4deg) translate3d( 0, 0, 0);
    -webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
    cursor:pointer;




    &:hover, &:focus{
	-ms-transform: rotate(0deg) translate3d( 0, 0, 0);
	-webkit-transform: rotate(0deg) translate3d( 0, 0, 0);
	transform: rotate(0deg) translate3d( 0, 0, 0);
}


    span{

    font-size:0.8em;
	line-height:1.3em;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    color: #293238;
    border-bottom: none;
	margin-bottom:5px;
    display:block;

    }


}

    &:nth-child(odd) a {
    -ms-transform: rotate(-4deg) translate3d( 0, 0, 0);
	-webkit-transform: rotate(-4deg) translate3d( 0, 0, 0);
	transform: rotate(-4deg) translate3d( 0, 0, 0);

       &:hover, &:focus{
	-ms-transform: rotate(0deg) translate3d( 0, 0, 0);
	-webkit-transform: rotate(0deg) translate3d( 0, 0, 0);
	transform: rotate(0deg) translate3d( 0, 0, 0);
}
    }
    
}


}



@media only screen and (max-width: 800px) {

.polaroid .listWebpart li {
    width:50% !important;
    }
}

@media only screen and (max-width: 500px) {	


.polaroid {
    margin: 10px 0;
}
}

/*END POLAROID SECTION*/