
ul.promo-group{
    padding:0;
    margin:0 0 $base-margin-bottom 0;
    display:inline-block;
    width:100%;
    background: $promo-group-background;
    border-left:$promo-group-border;
    border-top:$promo-group-border;
   




    li
    {
    width:20%;
    float:left;
    background:$promo-group-li-background;
    list-style: none;
    border-right:$promo-group-border;
    border-bottom:$promo-group-border;

            h2{
            padding: 0.5em;
            }

            a{
                padding:20px;
                display:inline-block;
                background:$promo-group-li-background;
                width:100%;
                color:$promo-group-link-color;
                font-size:1.313em;
                position:relative;

               

                                        img{
                            max-width:100%;
                            width:100%;
                            margin:0 0 0.4em 0;

                        }

                &:hover{
                            text-decoration:none;
                            background:#216486;
                            color:#fff;
                            border-color:#212d3a;



                            p, h3{
                                color:#fff;
                            }
                    }
                        h3{
                            margin:0 0 0.4em;
                            font-weight:600;
                            font-size:1em;
                            color:$promo-group-link-color;
                         }

                        p{
                            color:#666666;
                            font-size: 0.7em;
                            margin:0;
                        }
             }
            ul{
                padding:1em 1.5em;
                border-top:1px solid #fff;


                li{
                width:100%;
                float:none;
                border:none !important;

                            a{
                                font-size:0.875em;
                                font-weight:400;
                                padding:0 0 0 1em;
                                margin-bottom:0.75em;
                                color:#444444;
                                border:none !important;
                                background:transparent;

                                &.more{
                                color:#216486;
                                margin-bottom:0;
                                }

                                &:hover{
                                background:transparent !important;
                                text-decoration:underline !important;
                                color: #216486 !important;
                                }
                                &:before{
                                content: '\f105';
                                font-family: FontAwesome;
                                top:0px;
                                left:0px;
                                position:absolute;

                                }
                            }
                }
            }
         }


    }



         .col-md-8  ul.promo-group li
         {
             width:33.3%;
         }




@media (max-width: 1300px) {
    
 ul.promo-group li{
        width:25%;
    }

    
}

@media (max-width: 990px) {

  ul.promo-group li, .col-md-8  ul.promo-group li {
        width:50%;



         h2 {
        margin-top: 0px;
        padding:20px 0;
        font-size:1.3em;

                    span {
                    display:inline-block;
                    font-weight:700;
                    font-size:1em
                    }
          }

        a{
        padding:20px;
        position:relative;
        height:100%;

        img{
            display:none;
        }

        &.jump-to{
        display:none;
       }

           h3{
            min-height: 0px;
            font-size:0.9em;       
                        &:after {
                    content: '\f105';
                    font-family: FontAwesome;
                    position:absolute;
                    top:40%;
                    right:10px;
                }
          }
    

    }  

    

          ul{
                      display:none;
          }

    }

   


  
  
}

@media (max-width: 600px) {

ul.promo-group, .col-md-8  ul.promo-group  {
                
                li{
                    width:100%;
                }
                
        }
}


