.promo {
    background-size:cover !important;
    padding: 0;
    margin-bottom: $base-margin-bottom;
    position: relative;
    width: 100%;
    min-height:270px;

img {
    max-width: 100%;
}
 span {
    background: #004f77;
    padding: 4% 2%;
    color: #fff;
    border-radius: 0 3px 3px 0;
    bottom: 17px;
    color: #FFFFFF;
    left: 0;
    padding: 4% 2%;
    position: absolute;
    width: 89%;
}
&:hover span {
}

a:hover img,  a:focus img
{
	opacity: 0.8; 
    filter: alpha(opacity=80);

}
}
    