.form-group-inline {
    fieldset {
        width: 100%;
    }
    .block-label {
        min-height: 60px;
        padding-left: 60px; 
        background-color: #eceff1;   
        background-repeat: no-repeat;
        border-width: 2px;
        word-break: break-word;
        &:focus-within {
            border-color: #FFBF47;
            background-color: #ffffff;
            outline: none;
        }   
        &.active {
            border-color: #2e7d32;            
            outline: none;
            background-color: #ffffff;
        }
        &.emoji-angry {
            background-image: url(../images/angry.png);
        }    
        &.emoji-frown {
            background-image: url(../images/frown.png);     
        }        
        &.emoji-meh {
            background-image: url(../images/meh.png);       
        }        
        &.emoji-smile {
            background-image: url(../images/smile.png);      
        }        
        &.emoji-laugh {
            background-image: url(../images/laugh.png);     
        }
        &.emoji-angry, 
        &.emoji-frown, 
        &.emoji-meh, 
        &.emoji-smile, 
        &.emoji-laugh {
            background-size: 40px 40px;
            background-position: 10px 10px;
        }
    }    
    @media only screen and (min-width: 641px) {  
        
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;    
        justify-content: flex-start;
        .form-group-inline {
            margin-left: -7px;
        }
        .block-label {
            float: none;
            display: inline-block;   
            vertical-align: top;         
            width: calc(20% - 14px);
            padding-top: 110px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 7px;
            margin-right: 7px;
            text-align: center;            
            &.emoji-angry, 
            &.emoji-frown, 
            &.emoji-meh, 
            &.emoji-smile, 
            &.emoji-laugh {
                background-size: 90px 90px;
                background-position: center 10px;
            }
        }    
    }
}