
body{
  overflow:scroll;
}

ul.cbs-List {
    display:block;
    margin: 0px;
}

.ms-webpart-zone, .ms-webpart-chrome-vertical, .ms-webpart-cell-vertical
{
    display:block;
}




.ms-rtestate-field
{
  h1,h2,h3,h4,h5
{
   &.ms-rteElement-H2
   {
        font-weight:400;
   }


}
    
}

#s4-bodyContainer{
  padding-bottom:0px;
}

/**********************
Sharepoint overides
********************/


h1, h2, h3, h4, h5, ul, ol, p, input {
    font-family:$font-primary;
    color:$base-font-color;
}

h1, h2, h3, h4, h5 {
    font-weight:400;
}


.ms-rtestate-field
{
  h1,h2,h3,h4,h5
{
        font-weight:400;
        font-family:$font-primary;
        color:$base-font-color;
}
    
}

input[type=button], input[type=reset], input[type=submit], button {
    min-width:1em;
}



hr.ms-rteElement-spacer, hr.spacerTop, hr.spacerBottom {
    border-top: none;
    padding-bottom: 1.875em;
    margin:0px;
    width:100%
}

#s4-ribbonrow *,
#s4-ribbonrow *:before,
#s4-ribbonrow *:after,
#ms-help *,
*[class*='ms-core-menu'],
*[class*='ms-dlg'],
*[class*='ms-dlg']:before,
*[class*='ms-dlg']:after,
.ms-dlgFrameContainer > div,
.ms-dlgFrameContainer > div:before,
.ms-dlgFrameContainer > div:after,
.ms-dlgFrameContainer > div > div,
.ms-dlgFrameContainer > div > div:before,
.ms-dlgFrameContainer > div > div:after,
.ms-MenuUIPopupBody,
.ms-MenuUIPopupBody:before,
.ms-MenuUIPopupBody:after,
.ms-MenuUIPopupBody *,
.ms-MenuUIPopupBody *:before,
.ms-MenuUIPopupBody *:after,
.ms-ToolPaneOuter,
.ms-ToolPaneOuter:before,
.ms-ToolPaneOuter:after,
.ms-ToolPaneOuter *,
.ms-ToolPaneOuter *:before,
.ms-ToolPaneOuter *:after,
*[class*='ms-cui'],
*[class*='ms-cui']:before,
*[class*='ms-cui']:after,
*[class*='ms-cui'] *,
*[class*='ms-cui'] *:before,
*[class*='ms-cui'] *:after,
*[class*='ms-dlg'] *,
*[class*='ms-dlg'] *:before,
*[class*='ms-dlg'] *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}



