/**********************
Sharepoint overides
********************/

body{
  overflow:auto;
}

ul.cbs-List {
    display:block;
    margin: 0px;
}

.ms-webpart-zone, .ms-webpart-chrome-vertical, .ms-webpart-cell-vertical
{
    display:block;
}

#s4-bodyContainer{
  padding-bottom:0px;
}

//typography
.ms-rtestate-field {

    h1,
    h2,
    h3,
    h4,
    h5,
    .heading-xlarge,
    .heading-large,
    .heading-medium,
    .heading-small,
    .heading-xsmall,
    .bold-xlarge,
    .bold-large,
    .bold-medium,
    .bold-small,
    .bold-xsmall,
    .part-title{
        font-family: $font-secondary;
        font-weight: $header-font-weight;
        color:$base-font-color;
        padding:0;
        display:block;
    }

    h1,
    h1.ms-rteElement-H2{
        @include heading-xlarge();
    }

    h2,
    h2.ms-rteElement-H2,
    h1.heading-large,
    h2.heading-large,
    h3.heading-large,
    h4.heading-large{
        @include heading-large();
    }

    h3,
    h3.ms-rteElement-H2
    h1.heading-medium,
    h2.heading-medium,
    h3.heading-medium,
    h4.heading-medium{
        @include heading-medium();
    }

    h4,
    h4.ms-rteElement-H2,
    h1.heading-small,
    h2.heading-small,
    h3.medium-small,
    h4.medium-small{
        @include heading-small();
    }

    p, 
    p.ms-rteElement-P {
        @include body-text-margin();
    }
}

input[type=button], 
input[type=reset], 
input[type=submit], 
button {
    min-width:1em;
}

hr.ms-rteElement-spacer, 
hr.spacerTop, 
hr.spacerBottom {
    border-top: none;
    padding-bottom: 1.875em;
    margin:0px;
    width:100%
}

#s4-ribbonrow *,
#s4-ribbonrow *:before,
#s4-ribbonrow *:after,
#ms-help *,
*[class*='ms-core-menu'],
*[class*='ms-dlg'],
*[class*='ms-dlg']:before,
*[class*='ms-dlg']:after,
.ms-dlgFrameContainer > div,
.ms-dlgFrameContainer > div:before,
.ms-dlgFrameContainer > div:after,
.ms-dlgFrameContainer > div > div,
.ms-dlgFrameContainer > div > div:before,
.ms-dlgFrameContainer > div > div:after,
.ms-MenuUIPopupBody,
.ms-MenuUIPopupBody:before,
.ms-MenuUIPopupBody:after,
.ms-MenuUIPopupBody *,
.ms-MenuUIPopupBody *:before,
.ms-MenuUIPopupBody *:after,
.ms-ToolPaneOuter,
.ms-ToolPaneOuter:before,
.ms-ToolPaneOuter:after,
.ms-ToolPaneOuter *,
.ms-ToolPaneOuter *:before,
.ms-ToolPaneOuter *:after,
*[class*='ms-cui'],
*[class*='ms-cui']:before,
*[class*='ms-cui']:after,
*[class*='ms-cui'] *,
*[class*='ms-cui'] *:before,
*[class*='ms-cui'] *:after,
*[class*='ms-dlg'] *,
*[class*='ms-dlg'] *:before,
*[class*='ms-dlg'] *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#DeltaWebPartAdderUpdatePanelContainer {
    z-index:1000;
}

.ms-webpartzone-cell {
    margin: 0px;
}

#pageStatusBar[class], .ms-status-msg {
    margin-bottom: 0px;
}

.carousel-inner .item {
   padding:0px;
}

.col-md-8{

    .ms-srch-item {
    width: 100% ;
    overflow: visible;
    margin: 10px 0px 10px 0px;
}

h3.ms-srch-ellipsis {
    white-space: normal;
    overflow: visible;
    display:inline;
}


// OOTB SEARCH WEBPART OVERIDES

#SearchBox {

    border: 1px solid #ddd;
    padding: 10px 10px 0 10px;
    width:100%;
  // max-width:600px;

   .ms-srch-sbLarge > .ms-srch-sb-searchLink {
    float: right;
}
}

.ms-srch-sb-borderFocused {
    border: none!important;
    width: 100%
} 



.ms-srch-item-body {
    overflow: visible;
    display: inline-block;
    width: 100%;
}

.ms-srch-item-icon {
   margin-bottom:10px;
}

#UpScopeLinkTop {
    width:100% !important;
}

 .ms-srch-item-path {
    width:100%;
}

.ms-promlink-button-image {

    margin: -9px 0 9px -5px;
}

.ms-srch-sbLarge-fullWidth {
  width:80%;
 // max-width:500px;
}


@media(max-width:1024px){
    .col-md-8 .ms-srch-hover-outerContainer{
        display:none !important;
    }
}

}



.limitedrte-Style-image-left {
    -ms-name: "IMAGE LEFT ALIGN";
    float: left;
    margin: 10px 20px 10px 0 !important;
}

.limitedrte-Style-image-right {
    -ms-name: "IMAGE RIGHT ALIGN";
    float:  right;
    margin: 10px 0px 10px 20px !important;
}

@media(max-width:768px){
   .limitedrte-Style-image-left, .limitedrte-Style-image-right {
       margin: 10px 0px 10px 0px !important;
   }
}

h1.ms-dlg-heading{
    margin:0;
}

#ctl00_PlaceHolderMain_ctl03__ControlWrapper_RichHtmlField ul.list-nav{
    list-style:none;
    padding-left:0;
}

#ctl00_PlaceHolderMain_ctl03__ControlWrapper_RichHtmlField .groupPromo ul{
    padding:0;
}

.column-third,
.col-md-8 .col-sm-6{
    .dfwp-column {
        float: none;
        padding-left:0;
    }
}

//fix for summary links groupPromo editing menu
.groupPromo ul li {
    position:relative;
}

.groupPromo ul li .slm-edit-ecb{
    position:absolute;
    left:0;
    z-index:2;
}

.groupPromo ul li .slm-edit-ecb{

    a{
        padding:0;

        span img{
            width: auto;
            max-width: 40px;
            margin-bottom: 0;
        }
    }
    .ms-core-menu-box{    
        left:0 !important;
        
        ul li{
            width: auto !important;
            margin: 2px;
        }
    }
}

.slm-layout-main table td, 
.slm-layout-main table th{
    padding:0;
    border:0;
}

// END OOTB SEARCH WEBPART OVERIDES

h1 input.ms-long{
    width:100% !important;
}