



.sideNav {
    padding: 10px 20px 20px;
    background: $section-Background;
    margin-bottom: 20px ;

    h3{
        margin:0.6em 0;
    }

    li{
        list-style:none;
    }


    a {
            font-size: 1.1em;
            line-height: 1.2em;
            display: inline-block;
            margin: 0px 0px 5px;
            padding: 10px ;
            background: #fff;
            width: 100%;

            &:hover{
                    background: darken( $section-Background,50%)!important;
                    color: #fff;
                    }

            &.active {
                    color: $sidenav-active-color;
                    background:transparent;

                    &:hover{
                        background:transparent;
                    }
            }
    }


}