// typography.scss

h1{
    font-size:50px;
     margin:0.2em 0 0.6em 0;
}

h2{
    font-size:40px;
}

h3 {
     font-size:30px;
}

h4 {
     font-size:20px;
}

h2, h3, h4,h5 {
    margin:1.2em 0 0.4em 0;
}

p, ol, ul {
    margin:0.75em 0;  
}

ol, ul {
    padding-left:1em;
}

@media only screen and (max-width: 767px){

h1{
    font-size:40px;
     margin:0.2em 0 0.5em 0;
}

h2, h3, h4,h5 {
    margin:1em 0 0.3em 0;
}

h2{
    font-size:35px;
}

h3 {
     font-size:25px;
}

h4 {
     font-size:15px;
}


}




