@import 'variables';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }

.utilitiesSection{
    background: $utilitiesSection-background;
    border-bottom: 1px solid $utilitiesSection-border-color;
    width:100%;

    a.navbar-brand {
    background: url(../img/lccLogo.png) center center no-repeat;
    display: inline-block;
    height: 58px;
    width: 120px;}

       ul{
            border-right:1px solid $utilitiesSection-border-color;
            padding-right:5px;

            li{
            border-left: 1px solid #dfdfdf;
            float: left;
            list-style: none outside none;
            margin: 0;
            padding: 0;

            a{
                line-height: 2.8em;
                font-weight:bold;
            }

                    .sizeOne, .sizeTwo {
                            @include border-radius(3px);
                            color: #333;
                            float: left;
                            border: 4px solid #fff;
                            margin: 10px 0 10px 5px;
                            padding: 10px 7px;
                            font-weight: bold;
                            line-height: .81em;
                            background:#cdcdcd;

                            &:hover
                            {
                                background:#efefef;
                            }
                        }
            }
          } 

}


#header-top{
     display:none;

}



@media (max-width: 767px){

    .utilitiesSection{
     display:none;
     background:$utilities-background-color;
     padding:10px;
     border:none;

     .pull-right {
    float: none!important;
}

     ul {
      padding:0px;
      width:100%;
      border:none;

     li{
         float:none;
         border:none;

         a{
             color:#fff;

             &:hover, &:focus{
                 background:rgba(0,0,0, 0.5);
             }
         }
     }
     }
     a.navbar-brand, .sizeOne, .sizeTwo{
         display:none;
     }

    }

}
