
// masterhead.scss

$head-background: #f4f4f4 !default;


// mainMenu.scss -- responsive icons color
$menu-link-color:#337ab7 !default;


//base.scss

$base-background-color:#fff !default;
$base-font-size:16px !default;
$base-font-color:#333 !default;
$base-link-color:#133E8D !default;
$base-container-width:1500px !default;
$btn-background-color:green !default;
$font-primary: Arial !default; // main font
$font-secondary: Arial !default; // secondary font


// global used on all partials to get a uniform spacing between elements
$base-margin-bottom:1.875em !default;

//headerTop
$search-link-background:#337ab7 !default;
$search-link:#fff !default;

// mainNav.scss
$main-nav-background:#133E8D !default;
$main-nav-active-background:#0D2B62 !default;
$main-nav-link:#fff !default;
$main-nav-selected-link: #fff !default;
$main-nav-background-hover:#0D2B62 !default;
$main-nav-link-background:#133E8D !default;
$main-nav-flyout-link-background:#133E8D !default;
$main-nav-flyout-background:#133E8D !default;
$main-nav-flyout-link:#fff !default;

//footer.scss
$footer-font-color:#fff !default;
$footer-nav-selected-link:#133E8D !default;
$footer-list-item-width:23%  !default;
$footer-gutter-width:0 1% !default;

// sectionSubsite.scss - socialamedia.scss
$section-Background:#efefef !default;

//  socialamedia.scss
$social-link-color:#337ab7 !default;

//  sideNavigation.scss
$side-nav-active-background:#133E8D !default;

//  carousel.scss
$carousel-active-background:#000 !default;
$carousel-indicators-active-background:#ccc !default;
$carousel-caption-background: rgba(0,0,0,0.6) !default;
$carousel-caption-font-color:#fff !default;


// blocklinks.scss

$block-link-back:#f6f6f6 !default;
$block-link-back-hover:#3380A4 !default;

$promo-group-border:1px solid #fff !default; 
$promo-group-background:#EDF2F5 !default; 
$promo-group-li-background:#EDF2F5 !default;
$promo-group-link-color:#216486 !default;


//promolist webpart
$link-font-color:#fff !default;
$span-info-color:#222E3C !default;
$span-info-hover:#131A22 !default;
$span-info-secondary-color:#E6CC26 !default;
$span-arrow-base:#131A22 !default;
$span-third-info-base:#fff !default;
$third-info-font-color:#333 !default;

// section backgrounds
$sectionHeader-background-color:lighten($base-background-color, 3%) !default;
$sectionOne-background-color:darken($base-background-color, 5%) !default;
$sectionTwo-background-color:darken($base-background-color, 10%) !default;
$sectionThree-background-color:lighten($base-background-color, 3%) !default;
$sectionFour-background-color:lighten($base-background-color, 5%) !default;
$sectionFive-background-color:darken($base-background-color, 5%) !default;